<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1><%= ENV["COMMITTEE"] %> Maintenance Database</h1>

  <h2>
    Welcome to the online database portal.
  </h2>

  <p>Use the links in the bar above to navigate around the site.</p>
  <p>The data on this site is trial data only.  It is up to date until July 2015.  Changes made here will not be effective until the site is ready for use!</p>
</div>

