<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1><%= ENV["COMMITTEE"] %> Tools</h1>

  <h2>
    Welcome to the <%= ENV["COMMITTEE"] %> tools portal.
  </h2>

  <p>Use the links in the bar above to navigate around the site.</p>
</div>

