<h1>Import Maintenance Database</h1>
<p>The maintenance database file to be imported must be in Excel *.xlsx format.</p>
<%= render 'form' %>

<%= link_to 'Back', imports_path, class: "btn btn-default" %>
